.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 70px;
  width: 100%;
  max-width: 1400px;
  padding: 5px 20px;
  gap: 10px;
  margin: auto;
  background: var(--cheader);
  border-bottom: 2px solid var(--cfondo);
  position: relative;
  z-index: 10;
}

.header-negocio {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-marca {
  box-sizing: border-box;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--cNegro);
}

.header h1 {
  color: var(--ctexto2);
  text-decoration: none;
  display: inline;
  margin: 0;
  margin-left: 10px;
  margin-right: 0px;
  font-size: 20px;
  font-family: "Mystical_Snow", sans-serif;
  font-weight: 100;
}

.header-option {
  display: none;
}

.header-opciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.header-redsocial {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--ctexto2);
}

.header-redsocial img {
  width: 30px;
  height: 30px;
}

.header-celular {
  display: none;
}

@media (min-width: 350px) {
  .header h1 {
    font-size: 25px;
  }
  .header-marca {
    height: 40px;
    margin-right: 10px;
  }
}

@media (min-width: 800px) {
  .header {
    background: none;
    border-bottom: none;
    padding: 30px 20px;
  }
  .header h1 {
    color: var(--cNegro);
    font-size: 35px;
    margin-right: 30px;
  }
  .header-redsocial {
    color: var(--ctexto1);
  }

  .header-option {
    display: block;
    margin: 0px 10px;
    text-decoration: none;
    color: var(--cNegro);
  }

  .header-option:hover {
    text-decoration: overline;
  }
  .header .menuFullScreen-abrir {
    display: none;
  }

  .header-celular {
    display: block;
    font-weight: bold;
    color: var(--ctexto5);
  }
}

@media (min-width: 1000px) {
  .header-activate {
    font-weight: bold;
  }
}
