.flujopedido {
  background: var(--cfondo3);
  box-shadow: 0 0 0 3px var(--ctexto1);
  padding: 20px 20px 70px;
  margin-top: 80px;
  border-radius: 2px;
}

.flujopedido-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
}

.flujopedido-item {
  max-width: 330px;
  text-align: center;
  font-size: 20px;
}

.flujopedido-item img {
  width: 100px;
}

.flujopedido-boton {
  border: 3px solid var(--cbtn3);
  background: var(--cbtn);
  text-decoration: none;
  color: var(--ctexto2);
  padding: 8px 20px 10px;
  border-radius: 10px;
  text-shadow: none;
  margin-top: 25px;
  display: block;
}

.flujopedido-contactanos {
  margin-top: 25px;
}

.flujopedido-contactanos img {
  width: 29px;
  background: var(--cfondo);
  padding: 2px;
  border-radius: 10px;
  border: 5px solid var(--cbtn3);
}

.flujopedido-contactanos img:last-child {
  margin-left: 5px;
}

.flujopedido-entrega {
  font-size: 18px;
  color: var(--ctexto1);
  font-weight: bold;
  text-shadow: none;
  max-width: 200px;
  margin: auto;
}
