.catalogo {
  margin: auto;
}

.catalogo h2 {
  margin: auto;
  padding: 20px;
  margin: 0 auto 5px;
  border-top: 2px solid #242424;
  border-bottom: 2px solid #242424;
  max-width: 1350px;
  background: var(--cfondo7);
  color: var(--ctexto1);
  box-sizing: border-box;
}

.catalogo-descripcion {
  text-align: center;
  font-family: "Letters_for_Learners", sans-serif;
  font-size: 25px;
}

.catalogo-productos {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 5px 0px 5px;
  border-radius: 3px;
  gap: 5px;
  padding: 0 5px;
  max-width: 1350px;
}

@media screen and (min-width: 700px) {
  .catalogo-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .catalogo-productos {
    margin: 5px auto 50px;
  }
}

@media screen and (min-width: 1200px) {
  .catalogo-productos {
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }
}
