/*INFO*/
.categoria-boxinfo {
  box-sizing: border-box;
  max-width: 1350px;
  margin: auto;
  padding: 0px 20px 15px;
  border-top: 2px solid #242424;
  border-bottom: 2px solid #242424;
  background: var(--cfondo7);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.categoria-boxinfo h2 {
  text-align: left;
  color: var(--ctexto4);
  text-shadow: 1px 1px 2px white;
}

.categoria-rangoprecios {
  background: var(--cbtn2);
  padding: 5px 10px;
  border-radius: 10px;
}

.categoria-descripcion {
  font-size: 17px;
}

/*ITEMS*/

.categoria-boxitems {
  max-width: 1350px;
  margin: auto;
  padding: 0 5px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 300px;
  margin-bottom: 5px;
  gap: 7px;
}

.categoria-item-img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: 2px solid #242424;
  cursor: pointer;
}

.categoria-item-img:hover {
  outline: 3px solid #242424;
}

/* Mennu flotante */

.catalogo-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.catalogo-menu-categorias {
  background: var(--cbtn);
  color: var(--ctexto2);
  padding: 5px 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.catalogo-menu-categorias img {
  filter: invert();
  width: 25px;
}

@media screen and (min-width: 450px) {
  .categoria-boxitems {
    grid-template-columns: repeat(2, 1fr);
  }
  .categoria-item-img {
    border-bottom: none;
  }
}

@media screen and (min-width: 715px) {
  .categoria-boxitems {
    grid-template-columns: repeat(3, 1fr);
  }
  .categoria-boxitems {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .categoria-boxitems {
    grid-template-columns: repeat(4, 1fr);
  }
  .catalogo-menu {
    bottom: 50vh;
    right: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .categoria-boxitems {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 260px;
  }
}
