.quienessomos {
  text-align: center;
  padding-bottom: 40px;
}

.quienessomos h2 {
  padding-top: 30px;
  margin-bottom: 30px;
}

.quienessomos-text {
  margin: auto;
  font-size: 28px;
  font-family: "Letters_for_Learners", sans-serif;
  width: 90%;
  max-width: 500px;
  position: relative;
  margin-bottom: 50px;
}

.quienessomos-marca {
  border-radius: 20px;
  margin-top: 20px;
}

.quienessomos-valores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px 20px;
  margin-top: 30px;
}

.quienessomos-misionvision {
  margin: 40px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.quienessomos-text::after,
.quienessomos-valores::after {
  content: "";
  width: 20px;
  height: 20px;
  background: #f2c94c;
  border-radius: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 30%;
  animation: quienessomoscirculo 10s infinite alternate;
}

.quienessomos-misionvision::after {
  content: "";
  width: 20px;
  height: 20px;
  background: #f2c94c;
  border-radius: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 30%;
  animation: quienessomoscirculo2 10s infinite alternate;
}

@keyframes quienessomoscirculo {
  20% {
    top: 80%;
    left: 25%;
  }
  40% {
    top: 0%;
    left: 20%;
  }
  80% {
    top: 20%;
    left: 50%;
  }
  100% {
    top: 80%;
    left: 80%;
  }
}

@keyframes quienessomoscirculo2 {
  20% {
    top: 80%;
    left: 80%;
  }
  40% {
    top: 50%;
    left: 70%;
  }
  80% {
    top: 70%;
    left: 50%;
  }
  100% {
    top: 35%;
    left: 35%;
  }
}

/* MISION */

.mision {
  width: 100%;
  max-width: 400px;
  min-height: 200px;
  padding: 20px;
  font-size: 25px;
}

.mision-nombre {
  font-family: "Letters_for_Learners", sans-serif;
  color: #b73e3e;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}

.mision-descripcion {
  font-size: 28px;
  font-family: "Letters_for_Learners", sans-serif;
}

.mision img {
  margin-top: 20px;
  width: 65px;
  height: 65px;
}

.quienessomos .portada {
  display: none;
}

@media screen and (min-width: 800px) {
  .quienessomos .portada {
    display: flex;
  }
}
