.menuFullScreen {
  cursor: pointer;
  user-select: none;
}

.menuFullScreen-abrir {
  font-family: "Letters_for_Learners", sans-serif;
  font-weight: bold;
  background: var(--cAmarillo);
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid white;
  display: block;
  width: 50px;
  text-align: center;
}

.menuFullScreen-abrir:hover {
  border-style: dashed;
}

.menuFullScreen-opciones {
  position: absolute;
  overflow: auto;
  height: 100vh;
  width: 100%;
  top: -100vh;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
  z-index: 10;
  background: linear-gradient(45deg, var(--cCeleste2) 95%, var(--cCeleste) 5%);
  text-align: center;
  box-sizing: border-box;
  padding: 100px 0px 0px;
}

.menuFullScreen-opciones-cerrar {
  color: var(--cCeleste);
  margin-top: 40px;
  font-family: "Letters_for_Learners", sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid var(--cCeleste);
  color: var(--cCeleste);
  display: block;
  width: 50px;
  text-align: center;
  font-size: 20px;
}

.menuFullScreen-opciones-cerrar:hover {
  background: var(--cCeleste);
  color: var(--cCeleste2);
}

.menuFullScreen-option {
  text-decoration: none;
  color: var(--cCeleste);
  font-size: 20px;
}

.menuFullScreen-option:hover {
  color: var(--cCeleste3);
}

.menuFullScreen-activate {
  color: var(--cCeleste3);
  font-weight: bold;
}

.menu-abrir {
  top: 0;
}

@media (min-width: 600px) {
  .menuFullScreen-abrir {
    border: 2px solid var(--ctexto1);
  }
}
