.displayProducto {
  width: 90%;
  margin: auto;
}

.displayProducto-info {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.displayProducto-info-titulo {
  font-family: "olivier", "Letters_for_Learners", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: var(--cCeleste);
}

.displayProducto-info-antes {
  font-size: 20px;
  margin: 0;
}

.displayProducto-info-antes span {
  color: var(--cRojo);
  font-weight: bold;
}

.displayProducto-info-ahora {
  font-size: 18px;
  margin: 0;
}

.displayProducto-info-ahora span {
  color: var(--cRojo);
  text-decoration: line-through;
}

.displayProducto-fotos {
  scroll-behavior: smooth;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  overflow: auto;
}

.displayProducto-fotos img {
  border-radius: 10px;
  background: var(--cCeleste);
  border: 4px solid var(--cCeleste);
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.displayProducto-menu {
  display: none;
}

@media screen and (min-width: 400px) {
  .displayProducto-info {
    max-height: 250px;
  }
}

@media screen and (min-width: 900px) {
  .displayProducto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .displayProducto-carrusel {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .displayProducto-info {
    max-height: 300px;
    width: 400px;
  }

  .displayProducto-fotos {
    overflow: hidden;
    max-width: 410px;
  }

  .displayProducto-menu {
    list-style: none;
    display: none;
    padding-left: 8px;
  }

  .displayProducto-fotos img {
    width: 400px;
    height: 300px;
  }
  .displayProducto-menu {
    display: block;
  }
  .displayProducto-menu img {
    border-radius: 5px;
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    border: 10px solid var(--cCeleste);
  }
  .displayProducto-menu img:hover {
    border: none;
  }
}
