.especial {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  gap: 30px;
}

.especial-info {
  text-align: center;
}

.especial-info-title {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}

.especial-info-text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
}

.especial-vermas {
  background: #b73e3e;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  width: 130px;
  height: 50px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

.especial img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transform: rotate(2deg);
}

@media (min-width: 600px) {
  .especial {
    flex-direction: row;
  }
  .especial img {
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  .especial img {
    max-width: 400px;
    height: 400px;
  }
}
