.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 10vh;
  width: 100%;
  max-width: 1100px;
  padding: 5px 20px;
  gap: 10px;
  margin: auto;
  background: var(--cheader);
  border-bottom: 2px solid var(--cfondo);
}

.header-negocio {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-marca {
  box-sizing: border-box;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--cNegro);
}

.header h1 {
  color: var(--cfondo);
  text-decoration: none;
  display: inline;
  margin: 0;
  margin-left: 20px;
  margin-right: 30px;
  font-size: 35px;
  font-family: "Mystical_Snow", sans-serif;
  font-weight: 100;
}

.header-option {
  display: none;
}

@media (min-width: 600px) {
  .header {
    max-width: 1100px;
    width: 70vw;
    background: none;
    border-bottom: none;
  }
  .header h1 {
    color: var(--cNegro);
  }
}

@media (min-width: 1000px) {
  .header-option {
    display: block;
    margin: 0px 10px;
    text-decoration: none;
    color: var(--cNegro);
  }

  .header-option:hover {
    text-decoration: overline;
  }

  .header-activate {
    font-weight: bold;
  }
}
