.portada {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portada-left {
  box-sizing: border-box;
  min-height: 90vh;
  width: 100%;
  padding: 30px;
  background: var(--cAmarillo2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada-right {
  box-sizing: border-box;
  height: 520px;
  width: 100%;
  padding: 30px;
  background: var(--cCeleste);
}

.portada-right video {
  border-radius: 20px;
  display: block;
  margin: auto;
  height: 100%;
  width: 90%;
  object-fit: cover;
}

@media (min-width: 600px) {
  .portada-left {
    border-radius: 30px;
    max-width: 50vw;
    min-height: 520px;
    max-height: 520px;
  }
  .portada-right {
    border-radius: 20px;
    max-width: 30vw;
  }
}

@media (min-width: 1300px) {
  .portada-left {
    max-width: 900px;
  }
  .portada-right {
    max-width: 320px;
  }
}
