.portada {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portada-left {
  box-sizing: border-box;
  min-height: 90vh;
  width: 100%;
  padding: 30px;
  background: var(--cAmarillo2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada-fotofrase {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portada-right {
  display: none;
}

@media (min-width: 600px) {
  .portada-left {
    border-radius: 30px;
    max-width: 80vw;
    min-height: 520px;
    max-height: 520px;
  }
}

@media (min-width: 800px) {
  .portada-left {
    max-width: 50vw;
  }
  .portada-right {
    display: block;
    box-sizing: border-box;
    border-radius: 20px;
    height: 520px;
    max-width: 30vw;
    width: 100%;
    padding: 30px;
    background: var(--cCeleste);
  }
}

@media (min-width: 1300px) {
  .portada-left {
    max-width: 50vw;
    max-width: 900px;
  }
  .portada-right {
    max-width: 320px;
  }
}
