.quienessomos {
  text-align: center;
  background: var(--cGris4);
  max-width: 950px;
  margin: auto;
}

.quienessomos h2 {
  margin: 0px auto;
  padding-top: 40px;
  max-width: 500px;
  font-size: 35px;
}

.quienessomos-text {
  margin: auto;
  font-size: 25px;
  font-family: "Letters_for_Learners", sans-serif;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.quienessomos-marca {
  border-radius: 20px;
  margin-top: 20px;
}

.quienessomos-valores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quienessomos-valores-titulo {
  color: var(--cCeleste);
}

.quienessomos-misionvision {
  margin: 40px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.quienessomos-text::after,
.quienessomos-misionvision::after {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--cAmarillo);
  border-radius: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 30%;
  animation: quienessomoscirculo 10s infinite alternate;
}

.quienessomos-valores::after {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--cRojo);
  border-radius: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 30%;
  animation: quienessomoscirculo2 10s infinite alternate;
}

@keyframes quienessomoscirculo {
  20% {
    top: 80%;
    left: 25%;
  }
  40% {
    top: 0%;
    left: 20%;
  }
  80% {
    top: 20%;
    left: 50%;
  }
  100% {
    top: 80%;
    left: 80%;
  }
}

@keyframes quienessomoscirculo2 {
  20% {
    top: 80%;
    left: 80%;
  }
  40% {
    top: 50%;
    left: 70%;
  }
  80% {
    top: 70%;
    left: 50%;
  }
  100% {
    top: 35%;
    left: 35%;
  }
}
