.footer {
  box-sizing: border-box;
  background: var(--cfooter);
  padding: 40px 20px 5px;
  border-top: 3px solid #ffffff;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 25px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-size: 14px;
}

.footer h2 {
  color: var(--ctexto3);
  margin: 0;
  font-size: 33px;
  font-family: "Mystical_Snow", sans-serif;
  font-weight: 100;
  text-shadow: 2px 2px 3px rgb(58, 58, 58);
}

.footer img {
  height: 20px;
  border: 2px solid white;
  box-shadow: 1px 1px 2px 1px rgb(73, 72, 72);
  border-radius: 3px;
  background: white;
  margin-left: 5px;
}

.footer p {
  margin-top: 10px;
  color: var(--ctexto2);
  text-shadow: 2px 2px 3px rgb(58, 58, 58);
}

.footer p span {
  color: var(--ctexto3);
}

.footer-lista {
  list-style: none;
  color: var(--ctexto2);
  text-shadow: 2px 2px 3px rgb(58, 58, 58);
  padding-left: 0;
}

.footer-lista-titulo {
  margin-bottom: 5px;
  font-size: 25px;
  margin-top: 0;
  color: var(--ctexto3);
}

.footer-lista-link {
  text-decoration: none;
  color: var(--ctexto2);
  text-shadow: 2px 2px 3px rgb(58, 58, 58);
  margin-left: 8px;
}

.footer-lista li {
  margin-bottom: 5px;
}

.footer-lista li:hover .footer-lista-link {
  color: var(--ctexto3);
}

@media (min-width: 400px) {
  .footer-top {
    gap: 40px;
  }
}

@media (min-width: 800px) {
  .footer {
    padding: 40px 70px 10px;
  }
  .footer-top {
    gap: 100px;
  }
}
